<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="" action=<%=edit_path%> method="post">
        <label for="name">Name of Animal:</label>
        <input type="text" name="name" value=<%=animal[0].name %> >
        <label for="name">Class:</label>
        <input type="name" name="animal_class" value=<%=animal[0].animal_class %> >
        <button type="submit" name="add">Edit Animal</button>
    </form>
    
</body>
</html>