<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mongoose</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <p>Name of animal: <%=animal[0].name%></p>
    <p>Class of animal: <%=animal[0].animal_class%></p>
    <a href=<%= destroy_path %>>delete</a>
    
</body>
</html>