<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <form class="" action="/mongooses" method="post">
        <label for="name">Name of Animal:</label>
        <input type="text" name="name" value="">
        <label for="name">Class:</label>
        <input type="text" name="animal_class" value="">
        <button type="submit" name="add">Add animal</button>
    </form>
</body>
</html>